@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --highlight-blue: #3d5afe;
  --default-black: #333;
  --default-gray: #a8a8a8;
  --text-font: "Roboto Mono", sans-serif;
  --title-font: "Raleway", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: var(--text-font);
  /* line-height: 1.6; */
  font-size: 14px;
}

a {
  color: var(--highlight-blue);
  /* text-decoration: none; */
}

main {
  display: flex;
  flex-direction: column;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
