@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Roboto Mono", sans-serif;
  /* line-height: 1.6; */
  font-size: 14px;
}

a {
  color: #3d5afe;
  text-decoration: none;
}
